html {
  background: url("../background_img.jpg") no-repeat center center fixed;
}
body {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(250, 243, 224, 0.8) 25%);
  font-family: Tahoma;
  color: #544329;
}
form {
  padding-right: 40%;
}
.sidebar-nav {
  margin-top: 20px;
  padding: 1em;
  list-style: none;
  background: #faf3e0;
  border: solid 1px;
  border-color: #544329;
  border-radius: 5%;
  box-shadow: 5px 5px 5px #eabf9f;
}
a:any-link {
  color: #966c3b;
}
a:any-link:hover {
  color: #eabf9f;
}
.btn {
  background-color: #966c3b;
  border-color: #966c3b;
}
.btn:hover {
  background-color: #eabf9f;
  border-color: #eabf9f;
}
